$body-bg:               #000;
$text-color:            #fff;
$bg-primary: #333;
$navbar-default-color:             #333;
$navbar-default-bg:                #fff;

 $list-group-bg: rgba(3,3,3,.5);
 $list-group-border: none;

 $container-large-desktop:      (2560px + $grid-gutter-width);
