
.card{
		background-color: rgba(80,80,80,.8);

}
.card-img-top{
	width:100%;
}

.card-block{


	.card-title{
		/*text-align:right;*/
		font-size: 22px;
	}


}

.corpLogo{
float:right;
}

.list-group-item{
/*	text-align: right;*/
		span{
			text-align: left;
			color:#999;
			font-weight: bold;
		}
	}







