<div id="ciPrimaryCont h-50">
	<div class="card">
	  <div class="row">
  <div class="col-sm-12">
    <img class="card-img-top img-responsive" [src]="portraitUrl" alt="Card image cap"/>
    <div class="">
      <img class="corpLogo" [src]="corpLogoUrl" alt=""/>
      <img class="corpLogo" [src]="raceLogoUrl" alt=""/>
    </div>
  </div>
</div>
	  </div>
	  <div class="card-block">
   
	  <ul class="list-group list-group-flush">
	  <li class="list-group-item"><span>Name:  </span><b>{{charName}}</b></li>
	    <li class="list-group-item"><span>Race:  </span>  {{raceName}} - {{bloodName}}</li>
	    <li class="list-group-item"><span>Alliance:  </span>  {{allianceName}}</li>
	    <li class="list-group-item"><span>Gender:  </span>{{gender}}</li>
	    <li class="list-group-item"><span>Location:  </span>{{system}} - {{station}}</li>
	    <li class="list-group-item"><span>Bio:  </span>{{bio}}</li>
	  </ul>
	</div>
</div>