<div id="financeListWrapper" class="img-rounded h-100">
  <div class="list-group financeChart">
    <div href="#" class="list-group-item list-group-item-action active">
      <h4 class="list-group-item-heading">Wallet Balance</h4>
      <h3 class="list-group-item-text">{{currBal}} isk</h3>
    </div>
    <div href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Today's Profits</h5>
      <h4 class="list-group-item-text">{{todaysProfit}} isk</h4>
    </div>
    <div href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Today's Losses</h5>
      <h4 class="list-group-item-text">{{todaysLoss}} isk</h4>
    </div>
     <div href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Month's Profits</h5>
      <h4 class="list-group-item-text">{{monthsProfit}} isk</h4>
    </div>
     <div href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Month's Losses</h5>
      <h4 class="list-group-item-text">{{monthsLoss}} isk</h4>
    </div>
     <div href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Years's Profits</h5>
      <h4 class="list-group-item-text">{{yearsProfit}} isk</h4>
    </div>
     <div href="#" class="list-group-item list-group-item-action">
      <h5 class="list-group-item-heading">Years's Losses</h5>
      <h4 class="list-group-item-text">{{yearsLoss}} isk</h4>
    </div>
  </div>
</div>